<li>
	{{name}}

	<button class="btn btn-light" class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}Contacted!{{else}}Move to Not Contacted.{{/if}}
	</button>

	<button class="btn btn-light" class="delete-cat" data-id="{{this.id}}">Delete!</button>
</li>